.cart {
  position: relative;
  min-height: 100vh;
  display: flex;
  padding: 5rem 0;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  @media (max-width: 650px) {
    padding: 10rem 1rem;
  }

  &__title {
    font-size: 6.2rem;
    font-weight: 500;
    text-align: center;
  }

  &__cart {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 3rem;

    @media (max-width: 1000px) {
      width: 90%;
    }

    @media (max-width: 810px) {
      flex-direction: column;
      width: 95%;
      align-items: center;
    }
  }

  &__price {
    position: sticky;
    top: 0;
    right: 0;
    flex: 1;
    border: 2px solid #eee;
    padding: 0 4rem;
    display: flex;
    border-radius: 0.7rem;
    flex-direction: column;
    height: max-content;
    gap: 2rem;
    padding: 2.5rem;

    h4 {
      font-size: 4rem;
      font-weight: 400;
    }

    @media (max-width: 810px) {
      width: 100%;
    }
  }

  &__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-weight: 500;
      font-size: 1.6rem;
    }

    h6 {
      position: relative;
      font-size: 1.6rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      svg {
        position: relative;
        display: inline-block;
        font-size: 1.8rem;
        cursor: pointer;
      }

      svg:hover + span {
        opacity: 1;
        visibility: visible;
      }

      span {
        font-size: 1rem;
        line-height: 1.6;
        display: inline-block;
        top: 120%;
        width: max-content;
        right: -100%;
        position: absolute;
        padding: 0.5rem 1rem;
        border: 1px solid $crl-charcoal-grey;
        background: $crl-off-white;
        color: $crl-black;
        transition: all 0.3s ease-out;
        opacity: 0;
        visibility: hidden;
      }
    }

    &:last-child {
      margin-top: 2rem;

      p,
      h6 {
        font-weight: 600;
        font-size: 1.7rem;
      }
    }
  }

  &__data {
    width: 60%;
    // box-shadow: 0 0 2rem rgba(0, 0, 0, 0.07);
    border: 2px solid #eee;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 3rem;

    h4 {
      padding-left: 3rem;
      font-size: 4.4rem;
      font-weight: 400;
      padding-top: 3rem;
      color: $crl-charcoal-grey;
      position: relative;
      display: inline-block;
      align-self: flex-start;
    }

    @media (max-width: 810px) {
      width: 100%;
    }
  }

  &__list {
    list-style: none;

    .cart-head {
      text-align: center;
      font-size: 3.2rem;
      font-weight: 600;
      margin: 3rem 0;
      color: $crl-charcoal-grey;
    }
  }

  &__items {
    padding: 2.5rem 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;

    img {
      height: 10rem;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      object-position: center;
    }

    &:not(:last-child) {
      border-bottom: 2px solid #eee;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1rem;
    .title {
      font-size: 2.4rem;
      text-transform: capitalize;
      font-weight: 500;
    }

    .price {
      font-weight: 600;
      font-size: 1.8rem;
    }
  }

  .box {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .quantity {
      font-size: 3.6rem;
      font-weight: 500;
    }

    svg {
      font-size: 3.5rem;
      fill: #e30d4d;
      cursor: pointer;

      &:hover {
        fill: #ff588a;
      }
    }
  }
}
