@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables';

@import './headers';
@import './home';
@import './footer';
@import './product';
@import './products';
@import './userForm';
@import './filter';
@import './userProfile';
@import './cart';
@import './modal';

@import 'utility';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px | 10/16 * 100;
  box-sizing: border-box;

  @media (min-width: 1920px) {
    font-size: 65%;
  }

  @media (min-width: 2500px) {
    font-size: 75%;
  }
}

body {
  font-family: $font-pr;
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
}
